 <div class="page">
  <h1>Coffee Finder</h1>
  <blockquote>
    <p>Adventure in life is good; consistency in coffee even better.</p>
</blockquote>

  <p>Need to find a Coffee Shop? Sure thing...</p>
    <input type="text" value="" placeholder="Enter your post code here..." id="searchBar" >
    <!--<input type="submit" value="Submit" id="submitButton">-->
    <div id="results"><p>Results for Post Code:</p> <span id="postalCode"></span></div>

    <!--<input type="text" name="state" maxlength="10"> 
    <input type="submit" value="Submit" id="submit">-->
</div>

