 <div class="page">
  <h1>Coffee Finder</h1>
  <blockquote>
    <p>Adventure in life is good; consistency in coffee even better.</p>
</blockquote>
  <p>Need to find a Coffee Shop? Sure thing...</p>
    <input type="text" value="" placeholder="Enter your post code here..." id="searchBar" >
    <!--<input type="submit" value="Submit" id="submitButton">-->
    <div id="results">
      <p>Coffee Shops found nearby Postal Code:</p> 
      <span id="postalCode"></span>
    </div>
    <ul id="dataList"></ul>
    <div class="templates">
      <div id="listItem">
        <div class="row1">
          <div class="title"></div>
          <div class="amount"></div>
        </div>
        <div class="row2"><div class="description"></div></div>
      </div>
    </div>
</div>

